################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/bin
**/obj
**/.vs
**/*.suo
**/*.user

# NuGet packages can be ignored
**/packages/*
# Except for build, used by MSBuild targets
!**/packages/build/
